.more{
    text-decoration: none !important;
    
}
.more:hover{
    color:yellow !important;
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .card-temp{
        height: 35rem !important;
    }
   
    .card-photo{
        height: 15rem !important;
    }
    .card-title{
        font-size: medium !important;
        font-weight: bold !important;
    }
    .card-text{
        font-size: small !important;
    }
    .buton{
        width:15rem !important;
        height: 3rem !important;
    }
    .more{
        font-size: small !important;
    }
 
 }