.navbar-nav li{
    list-style-type:none;
  
}
.dropdown-item{
  color:darkblue;


}

.nav-link:hover{
  color: #333 !important;
  background-color: white;
}

.menu-item-link{
  text-decoration: none !important;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 994px) {
  .row{
    justify-content: flex-end !important;
  }
}

