.body{
    background-color:#f8f9fa;
    
    width:100%;
    padding-top: 25px;
}
.dropdown-item{
    font-size: 16px;
    text-align: left;
}
ul li {
  list-style-type:circle;
  
  
}

.bottomlist li:hover a:not(.active){
  color:red;
  font-size: 18px;
  
}

.icon:hover{
  color:greenyellow;
}

